<div class="container">
  <div class="footer__inner">
    <a href="index.html" class="footer__textLogo">Evie theme</a>
    <div class="footer__data">
      <div class="footer__data__item">
        <div class="footer__row">
          Made with <i class="icon ion-heart"></i> by <a href="https://twitter.com/turntablio" target="_blank"
            class="footer__link">turntabl</a>
          in Ghana.
        </div>
        <div class="footer__row">
          <i class="icon ion-pin"></i> turntabl GH Ltd, 2nd floor, Sonnidom House, Mile 7 Achimota, Accra
        </div>
      </div>
      <!-- <div class="footer__data__item">
						<div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link">unDraw</a>
						</div>
						<div class="footer__row">Special thx to <a href="https://shareboost.co" target="_blank" class="footer__link">ShareBoost</a> for the support
						</div>
					</div> -->
      <div class="footer__data__item">
        <div class="footer__row">
          <i class="icon ion-logo-github"></i> <a href="https://github.com/turntabl" target="_blank"
            class="footer__link">GitHub</a>
        </div>
        <div class="footer__row">
          <i class="icon ion-logo-twitter"></i> <a href="https://twitter.com/turntablio" target="_blank"
            class="footer__link">Twitter</a>
        </div>
        <!-- <div class="footer__row">
						<a href="https://www.facebook.com/undraw.co/" target="_blank" class="footer__link">Facebook</a>
					</div> -->
        <div class="footer__row">
          <a href="./additional.html" class="footer__link">MIT license</a>
        </div>
      </div>
    </div>
  </div>
</div>