<div class="container">
  <div class="footer__inner">
    <a href="index.html" class="footer__textLogo">Evie theme</a>
    <div class="footer__data">
      <div class="footer__data__item">
        <div class="footer__row">
          Made with <i class="icon ion-heart"></i> by <a href="https://twitter.com/turntablio" target="_blank"
            class="footer__link">turntabl</a>
          in Ghana.
        </div>
        <div class="footer__row">
          <i class="icon ion-pin"></i> <a
            href="https://www.google.co.uk/maps/place/turntabl/@5.6326822,-0.2382382,19z/data=!3m1!4b1!4m13!1m7!3m6!1s0xfdf996579ca9ebd:0x99822538ef7ed82f!2sAchimota,+Ghana!3b1!8m2!3d5.612781!4d-0.234345!3m4!1s0xfdf9954d603e5b3:0xd24eb41c04c54f63!8m2!3d5.6326809!4d-0.237691"
            class="footer__link" target="_blank">turntabl
            GH Ltd, 2nd floor, Sonnidom House, Achimota, Mile 7, Accra</a>
        </div>
      </div>
      <!-- <div class="footer__data__item">
						<div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link">unDraw</a>
						</div>
						<div class="footer__row">Special thx to <a href="https://shareboost.co" target="_blank" class="footer__link">ShareBoost</a> for the support
						</div>
					</div> -->
      <div class="footer__data__item">
        <div class="footer__row">
          <i class="icon ion-logo-github"></i> <a href="https://github.com/turntabl" target="_blank"
            class="footer__link">GitHub</a>
        </div>
        <div class="footer__row">
          <i class="icon ion-logo-twitter"></i> <a href="https://twitter.com/turntablio" target="_blank"
            class="footer__link">Twitter</a>
        </div>
      </div>
    </div>
  </div>
</div>